* {
    background: $color-badass;
}

$colorwhite :#F5FDFF;
$color-badass :#F1FFE5;
$color_red : #FDF7D2;
$color_empty : #FFE9C8;
$color_fifth : #DF0030;

//Shouldn't be replaced
$color : black;

$color_repeatefirst : #F5FDFF;
