SOME STUFF

$colorwhite : #595E39;
$color-badass: #FF842A;
$color_red :#FFD416;
$color_empty : #DBC046;
$color_fifth : #F2FFC4;
$color_sith : #595E39;

//Shouldn't be replaced
$color : black;

SOME OTHER STUFF