$color_background : #E67399;
$color_h1 : #59BFB3;
$color-h2: #E0C240;
$colorText :#F2A640;
$color_interactive : #E67399;
$color_active : #F2A640;
$color_important : #B373B3;

//Shouldn't be replaced since it fails the Regex test
$color : black;

body {
    background: $color_background;
    font-family: sans-serif;
    text-align: center;
}

.h1 {
  color: $color_h1;
}

.h2 {
  color: $color-h2;
  text-shadow: 2px 2px $color_important;
}

.text {
  color: $colorText;
}

.button {
  background: $color_interactive;
  padding: 10px;
  border-radius: 1em;

  &:hover {
    background: $color_important;
  }

  &:active {
    color: $color_active;
  }

}
