$color_background : #E2E2B6;
$color_h1 : #93C088;
$color-h2: #7A7223;
$colorText :#402C2B;
$color_interactive : #2B0A15;
$color_active : #E2E2B6;
$color_important : #93C088;

//Shouldn't be replaced since it fails the Regex test
$color : black;

body {
    background: $color_background;
    font-family: sans-serif;
    text-align: center;
}

.h1 {
  color: $color_h1;
}

.h2 {
  color: $color-h2;
  text-shadow: 2px 2px $color_important;
}

.text {
  color: $colorText;
}

.button {
  background: $color_interactive;
  padding: 10px;
  border-radius: 1em;

  &:hover {
    background: $color_important;
  }

  &:active {
    color: $color_active;
  }

}
