$color_background : #F5E15E;
$color_h1 : #F6F5DA;
$color-h2: #144821;
$colorText :#9E6C2B;
$color_interactive : #FEFEAD;
$color_active : #F5E15E;
$color_important : #F6F5DA;

//Shouldn't be replaced
$color : black;

body {
    background: $color_background;
}

.h1 {
  color: $color_h1;
}

.h2 {
  color: $color-h2;
}

.text {
  color: $colorText;
}

.button {
  background: $color_interactive;

  &:hover {
    color: $color_active;
    background: $color_important;
  }

}
